@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

body {
  background-color: #1a1b1e;
}

#header.active {
  transition: 0.5s ease;
  background: white;
}

#header.active > * {
  color: black;
}

#headerRight.active a {
  color: black;
}

#headerRight.active svg {
  color: black;
}